{% extends "base.html" %}

{% block title %}
    Create
{% endblock title %}

{% block content %}

<section class="section">


    <div class="card-grid">

        <form method="post">
            {% csrf_token %}

            <gallon-card
                gallons="1"
                type={{mead_type}} >
            </gallon-card>
        </form>

        <form method="post">
            {% csrf_token %}

            <gallon-card
                gallons="3"
                type={{mead_type}}>
            </gallon-card>
        </form>

        <form method="post">
            {% csrf_token %}

            <gallon-card
                gallons="5"
                type={{mead_type}}>
            </gallon-card>
        </form>

    </div>

</section>

{% endblock content %}