{% extends "base.html" %}

{% block title %}
    Your Meads
{% endblock title %}

{% block content %}

<div class = "section">

    <div class="card-grid">

        {% for mead in meads %}

        <user-mead-card 
        id = "{{mead.pk}}"
        name = "{{mead.name}}"
        gallons = "{{mead.gallons}}"
        ingredients = "{{ mead.ingredients|length }}"
        ></user-mead-card>

        {% empty %}

            <p>You haven't created any meads yet.</p>

        {% endfor %}

    </div>
    
</div>



{% endblock content %}