/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
    --color-1:#ffffff;
    --color-2:#ebe7e7;
    --color-3:#d0cece;
    --color-4:#000000;

    --width-1:2vw;
    --width-2:4vw;
    --width-3:8vw;

    --pading-1:10px;
    --padding-2:20px;

    --gap-1: 1rem;

    --border-size-1:2px;
    --border-size-2:4px;
    --border-size-3:6px;

    --border-radius-1:8px;

}




/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
html {
    scrollbar-width: none;
}

/* Internet Explorer/Old Edge */
body {
    -ms-overflow-style: none;
}




nav {
    display: flex;
    gap: var(--gap-1);
    align-items: center;

    height: 8vh;

    margin-top: 2px;
    margin-left: var(--width-1);
    margin-right: var(--width-1);

    padding-left: var(--pading-1);


    background-color: var(--color-2);
 
    border: solid var(--color-2) var(--border-size-1);
    border-bottom: solid var(--color-3) var(--border-size-2);
    border-radius: var(--border-radius-1);
}

.button-black{
    display: inline-block;

    padding: var(--pading-1) var(--padding-2);

    text-decoration: none;
    color: var(--color-4);
    font: inherit;

    background: var(--color-1);
    cursor: pointer;

    border: var(--border-size-1) solid var(--color-4);
    border-bottom: var(--border-size-2) solid var(--color-4);
    border-radius: var(--border-radius-1);

    transition: all 0.15s ease;
}

.button-black:hover{
    transform: translateY(2px);
    border-bottom-width: var(--border-size-1);
}
.button-black:active{
    transform: translateY(4px);
    border-bottom-width: var(--border-size-1);
}

