<!DOCTYPE html>
<htmllang="en">
<head>
<metacharset="utf-8">

<title>
        {% block title %}
        App Name Here
        {% endblock title %}
</title>

    {% load static %}

<link rel="stylesheet"href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/mead_cards.css'%}">

</head>

<body>
<header>

{% include "components/nav.html" %}

</header>

<main>
        {% block content %}
        Stuff Goes Here
        {% endblock content %}

        <div style="height: 7vh;"></div>
</main>
</body>

<script src="{% static 'js/base.js' %}"></script>
</html>