{% extends "base.html" %}

{% block title %}
	Home
{% endblock title %}

{% block content %}

<div class="section hero"></div>

<div class="section">

	<div class="card-grid">
		<mead-card name="Traditional Mead" type="traditional"></mead-card>
		<mead-card name="Sack Mead" type="sack"></mead-card>
		<mead-card name="Braggot Mead" type="braggot"></mead-card>
		<mead-card name="Spiced Mead" type="spiced"></mead-card>

		<mead-card name="Blueberry Mead" type="blueberry"></mead-card>
		<mead-card name="Blackberry Mead" type="blackberry"></mead-card>
		<mead-card name="Strawberry Mead" type="strawberry"></mead-card>
		<mead-card name="Grape Mead" type="grape"></mead-card>

		<mead-card name="Orange Mead" type="orange"></mead-card>
		<mead-card name="Lavender Mead" type="lavender"></mead-card>
		<mead-card name="Cherry Mead" type="cherry"></mead-card>
		<mead-card name="Cider Mead" type="cider"></mead-card>

	</div>

</div>

{% endblock content %}