{% extends "base.html" %}

{% block title %}
	Home
{% endblock title %}

{% block content %}

<div class="section hero"></div>

<div class="section">

	<div class="card-grid">
		<mead-card 
			name="Traditional Mead" 
			type="traditional" 
			icon="/static/icons/traditional.svg"></mead-card>

		<mead-card 
			name="Sack Mead" 
			type="sack"
			icon="/static/icons/sack.svg"></mead-card>
		<mead-card 
			name="Braggot Mead" 
			type="braggot" 
			icon="/static/icons/braggot.svg"></mead-card>
		<mead-card 
			name="Spiced Mead" 
			type="spiced"
			icon="/static/icons/spiced.svg"></mead-card>

		<mead-card 
			name="Blueberry Mead" 
			type="blueberry"
			icon="/static/icons/blueberry.svg"></mead-card>
		<mead-card 
			name="Blackberry Mead" 
			type="blackberry"
			icon="/static/icons/blackberry.svg"></mead-card>
		<mead-card 
			name="Strawberry Mead" 
			type="strawberry"
			icon="/static/icons/strawberry.svg"></mead-card>
		<mead-card 
			name="Grape Mead" 
			type="grape" 
			icon="/static/icons/grape.svg"></mead-card>

		<mead-card 
			name="Orange Mead" 
			type="orange" 
			icon="/static/icons/orange.svg"></mead-card>
		<mead-card 
			name="Lavender Mead"
			type="lavender" 
			icon="/static/icons/lavender.svg"></mead-card>
		<mead-card 
			name="Cherry Mead" 
			type="cherry" 
			icon="/static/icons/cherry.svg"></mead-card>
		<mead-card 
			name="Cider Mead" 
			type="cider" 
			icon="/static/icons/apple.svg"></mead-card>

	</div>

</div>

{% endblock content %}