<nav>
    <a class="mead-button" href="{% url 'home' %}">Home</a>

    {% if user.is_authenticated %}

    <a class="mead-button" href="{% url 'mead_list' %}">
            My Meads
        </a>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="mead-button" type="submit">Log Out</button>
        </form>



    {% else %}
        <a class="mead-button" href="{% url 'login' %}">Log In</a>
        <a class="mead-button" href="{% url 'signup' %}">Sign Up</a>

    {% endif %}
</nav>

<div style="height: 8vh;"></div>